<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sylwia Miller MakeUp</title>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/scrolling-nav.css" rel="stylesheet">

</head>


<body id="page-top">



<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">O mnie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Umów wizytę</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#cash">Cennik</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1 >Sylwia Miller MakeUp</h1>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>O mnie</h2>
                <p >


                    W świecie pełnym kolorów, cieni i delikatnych pociągnięć pędzlem, odnajduję moją prawdziwą pasję – tworzenie makijażu, który podkreśla naturalne piękno każdej osoby. Jestem artystką, która wierzy, że makijaż to nie tylko kreatywny eksperyment, ale także wyjątkowy sposób na podkreślenie unikalnej urody każdej jednostki.

                    Moje ręce są moim płótnem, a paleta kolorów jest moim zestawem narzędzi. Z każdym pociągnięciem pędzla odkrywam nowe możliwości wydobywania indywidualnych cech, podkreślania subtelności i ukazywania siły wyrazu. Każdy makijaż, jaki tworzę, to unikalna historia, opowiedziana poprzez kolory, tekstury i proporcje.

                    Nie tylko maluję twarze, lecz układam narrację piękna. Moja pasja tkwi w sztuce, która dodaje pewności siebie, wydobywa charakterystyczne rysy i wprowadza delikatny akcent do codzienności. Dla mnie makijaż to nie tylko powierzchowność; to forma wyrazu, która manifestuje się na zewnątrz, jednocześnie odbijając wewnętrzną pewność siebie.

                    Cieszę się, że mogę dzielić się tą pasją z innymi – podczas sesji makijażowych, warsztatów i inspirujących spotkań. Każda osoba, którą mam przyjemność malować, to dla mnie nowa przygoda, nowa możliwość stworzenia czegoś wyjątkowego. W moim świecie makijażu każdy jest piękny, a każdy makijaż ma moc podkreślenia tej piękności.

                    Dołącz do mnie w podróży odkrywania urody i pewności siebie poprzez sztukę makijażu. Razem możemy stworzyć niezapomnianą historię piękna, w której każdy detal ma znaczenie, a każde spojrzenie mówi własną opowieść. Jesteśmy jak pędzle na płótnie życia, dodając kolor i wyraz naszemu codziennemu doświadczeniu.

                    Makijaż nie jest tylko warstwą kosmetyków. To manifestacja pewności siebie, wyraz indywidualności i radość z odkrywania piękna w sobie i innych. Cieszę się, że mogę być częścią tej magicznej podróży, pomagając odkrywać i podkreślać to, co sprawia, że każda osoba jest wyjątkowa.
                </p>
            </div>
        </div>
    </div>
</section>


<section id="contact" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Umów wizytę</h2>

                <form method="post" th:action="@{/client2}" th:object="${clientDto}">
                    <label>
                        Nazwa produktu:
                        <input type="text" th:field="*{name}">
                    </label>

                    <label>
                        Ilość:
                        <input type="text" th:field="*{phoneNumber}">
                    </label>


                    <label>
                        Data:
                        <input type="datetime-local" th:field="*{selectedDate}" class="flatpickr">
                    </label>

                    <button class="btn btn-dark" type="submit">SEND DATA</button>

            </div>
        </div>
    </div>
</section>


<section id="cash">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Cennik</h2>
                <p class="lead">

                    </p>
            </div>
        </div>
    </div>
</section>











<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Sylwia Miller <span th:text="${#dates.year(#dates.createNow())}"></span></p>
    </div>

</footer>


    <script>
        flatpickr('.flatpickr', {

            enableTime: true,
            dateFormat: "Y-m-d H:i",
            minDate: "today",
            maxDate: "01.01.2026",
            hourIncrement: 2,
            minuteIncrement: 60,
        });
    </script>
</body>
</html>

